page-posts-artigos {
    h2 {
        color: #8c7b2b;
        text-align: center;
    }
    .featured-image {
	    height: auto;
	    width: auto;
	    display: block;
	    margin: 0 auto;
    }
    p {
        text-align: justify;
    }
    .cards {
        border-bottom: solid 1px #8c7b2b;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }
}
